import { html } from 'lit';
import { property } from 'lit/decorators.js';
import Tailwind from '../base/tailwind-base';
import style from './{{kebabCase name}}.styles';
import { {{camelCase name}}Style } from './{{kebabCase name}}.style';

/**
 * Add a description here
 *
 * @tag {{kebabCase tagName}}
 * @since 0.0.0
 * @status experimental
 *
 **/
export default class {{pascalCase tagName}} extends Tailwind {
  @property() size: 'sm' | 'md' | 'lg' = 'md';

  constructor() {
    super();
  }

  get classes() {
    return {{camelCase name}}Style({
      size: this.size,
    });
  }

  override render() {
    return html`
      <div class=${this.classes}>
        <slot></slot>
      </div>
    `;
  }

  static override styles = [...Tailwind.styles, style];
}

export { {{pascalCase tagName}} };
