---
import { logos } from "virtual:starlight/user-images";
import config from "virtual:starlight/user-config";
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
---

<a
  href={siteTitleHref}
  class="site-title flex items-center gap-1.5 text-color-default font-bold text-xl leading-none text-nowrap min-w-0 no-underline whitespace-nowrap"
>
  {
    config.logo && logos.dark && (
      <>
        <img
          class:list={{
            "light:sl-hidden print:hidden": !("src" in config.logo),
          }}
          alt={config.logo.alt}
          src={logos.dark.src}
          width={logos.dark.width}
          height={logos.dark.height}
        />
        {/* Show light alternate if a user configure both light and dark logos. */}
        {!("src" in config.logo) && (
          <img
            class="dark:sl-hidden print:block"
            alt={config.logo.alt}
            src={logos.light?.src}
            width={logos.light?.width}
            height={logos.light?.height}
          />
        )}
      </>
    )
  }
  <span
    class:list={{
      "sr-only": config.logo?.replacesTitle,
      "overflow-hidden": true,
    }}
    translate="no"
  >
    {siteTitle}
  </span>
</a>

<style>
  @layer starlight.core {
    img {
      height: 1.25rem;
      width: 1.25rem;
      max-width: 100%;
      object-fit: contain;
      object-position: 0 50%;
    }
  }
</style>
